.fractal {
    position: absolute;
    transform-origin: 0 0;
    left: 50%;
    top: 50%;
}
.vertex {
    position: absolute;
    width: calc(var(--s) * 1px);
    aspect-ratio: 1;
    left: calc(var(--x) * 1px);
    top: calc(var(--y) * 1px);
    border-radius: 50%;
    color: #FFF;
    background-color: #48FB;
    font-size: calc(var(--s) * .8px);
    font-family: monospace;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
.vertex[data-active] {
    color: #000;
    background-color: orange;
    z-index: 1000000;
}
