@keyframes show {
    0% { opacity: 0; }
}
button {
    width: 14ch;
}
input[type='checkbox'] {
    margin: 0 .5em 0 1em;
}
.fruit {
    margin: 1em .25em 0 0;
    font-size: 1.5em;
    display: inline-flex;
    animation: show .4s .4s 2;
}
