input {
    width: 30vw;
    margin: 1em 0;
}
label {
    display: block;
    font-size: 1.25em;
    user-select: none;
}
label:last-of-type {
    font-size: 1em;
}
label:last-of-type::before {
    content: 'result: ';
    color: orange;
}
