:root {
    --color: #F23;
}
.device {
    display: inline-flex;
    align-items: center;
    background-color: #222;
}
button.control {
    margin: .5em;
    background-color: #923;
}
.beacon {
    width: 1.5em;
    height: 1.5em;
    margin: 0 1em 0 .5em;
    display: inline-flex;
    border-radius: 50%;
    background-color: var(--color);
}
.beacon[data-on] {
    box-shadow: 0 0 1em var(--color);
}
