input {
    display: flex;
    margin: 0 0 .5em 0;
}
button, ::placeholder {
    text-transform: uppercase;
}
select {
    float: left;
    margin: 0 .5em .5em 0;
}
button {
    flex: 1;
    margin: 0 1px;
}
.buttons {
    display: flex;
    clear: both;
}
.buttons, input, select {
    width: 30ch;
}
