div {
    display: flex;
    width: 12em;
    height: 2.5em;
    margin: .25em;
}
div > * {
    flex: 1;
}
div > *:not(button) {
    padding: .5em;
}
[data-fail]:not([disabled]) {
    background-color: #923;
    border-color: #F23;
}
