#canvas {
    --pixel: calc(60vmin / var(--size));
    margin-top: calc((100vh - var(--pixel) * var(--size)) / 2);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(var(--size), var(--pixel));
}
.pixel {
    aspect-ratio: 1;
    background-color: var(--color);
}
