#menu, #info, .field {
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu {
    margin: 0 0 .5em 0;
}
#menu::before {
    content: 'Play as:';
    color: orange;
    font-size: 1.5em;
}
#menu select {
    margin: 0 0 0 .5em;
}
#game {
    --x: calc((min(100vh - 5em, 100vw) - 5vmin) / 3);
    --row: var(--x) var(--x) var(--x);
    display: grid;
    justify-content: center;
    grid-template-columns: var(--row);
    grid-template-rows: var(--row);
}
.field {
    width: calc(var(--x) - 1px);
    aspect-ratio: 1;
    background-color: #2229;
    border: 2px solid #111;
}
.field[data-win] {
    background-color: #888;
    border-color: #FFF;
}
.field::after {
    position: absolute;
    content: attr(title);
    font-size: calc(var(--x) * .6);
}
[title='X'] {
    color: #D34;
}
[title='O'] {
    color: #48E;
}
#info {
	position: absolute;
    width: calc(var(--x) * 3);
    aspect-ratio: 1;
    justify-self: center;
    background-color: #1119;
}
#info::after {
    content: attr(title);
    font-size: calc(var(--x) / 6);
}
