p {
    --color: #F23;
    margin-top: 2em;
    padding: 2em;
    outline: none;
    text-align: left;
    border: 1px solid var(--color);
}
p[data-rtl] {
    unicode-bidi: bidi-override;
    direction: rtl;
}
p:focus {
    --OK: 'is';
    --color: #0B3;
}
p::before {
    content: 'text area ' var(--OK, 'not') ' focused';
    position: fixed;
    top: 0;
    left: 0;
    padding: .5em;
    color: var(--color);
    text-transform: uppercase;
}
