#ball {
    --size: 120px;
    width: var(--size);
    top: calc(var(--size) / -2);
    left: calc(var(--size) / -2);
    aspect-ratio: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color, #2489);
    box-shadow: 0 0 2em inset var(--shadow, #48F);
    border-radius: 50%;
    cursor: move;
    touch-action: none;
}
#ball::before {
    content: 'move!';
    font-size: 1.5em;
}
#ball:active {
    --color: #9239;
    --shadow: #F23;
}
#ball[style*='50vw'][style*='50vh'] {
    transition: transform .3s;
}
