input, textarea {
    min-width: 50%;
    margin: 1em 0;
}
textarea {
    height: 8em;
    font-style: oblique;
}
label {
    display: block;
    font-size: 1.25em;
    user-select: none;
}
label:last-of-type {
    font-size: 1em;
}
label:last-of-type::before {
    content: 'words: ';
    color: orange;
}
