html, body {
    height: calc(100% - 1.5em);
    text-align: center;
}
button {
    width: 8em;
    margin: 0 1px .5em 1px;
    text-transform: uppercase;
}
svg {
    width: calc(100% - .25em);
    height: 100%;
    border: 1px solid #666;
    background-color: #1113;
}
circle {
    fill: #2489;
    stroke: #48E;
    stroke-width: 2px;
}
circle:hover, circle[active] {
    fill: #9239;
    stroke: #F23;
}
#frame {
	position: absolute;
    top: calc(50% - 2em);
    left: 10%;
    right: 10%;
    padding: 1em 2em;
    line-height: 2.5em;
    background: #1119;
}
#frame::before {
    content: 'Adjust diameter of circle at ' attr(data-point);
}
#frame input {
    width: 100%;
}
