.CodeMirror {
	height: 100%;
	line-height: 1.75;
	--fg: #FFF;
}
.CodeMirror,
.CodeMirror-guttermarker {
	color: var(--fg);
}
.CodeMirror-gutters {
	border-right: none;
}
.CodeMirror-lines {
    padding: 0;
}
.CodeMirror div.CodeMirror-selected {
	background: #3338;
}
.CodeMirror-line::selection,
.CodeMirror-line>span::selection,
.CodeMirror-line>span>span::selection {
    background: #888E;
}
.CodeMirror-linenumber,
.CodeMirror-guttermarker-subtle {
	color: #888;
}
.CodeMirror-cursor {
	border-left: 1px solid var(--fg);
}
.CodeMirror span.cm-comment {
	color: #75715e;
}
.CodeMirror span.cm-atom {
	color: #DDD;
}
.CodeMirror span.cm-number {
	color: #4C8;
}
.CodeMirror span.cm-comment.cm-attribute,
.CodeMirror span.cm-comment.cm-type {
	color: #3d76e0;
}
.CodeMirror span.cm-comment.cm-def {
	color: #bc9262;
}
.CodeMirror span.cm-comment.cm-tag {
	color: #bc6283;
}
.CodeMirror span.cm-attribute {
    color: #4BF;
}
.CodeMirror span.cm-property {
	color: #89A;
}
.CodeMirror span.cm-keyword {
	color: #E67;
}
.cm-s-default .cm-qualifier {
    color: #4BF;
}
.CodeMirror span.cm-type {
	color: #E67;
}
.CodeMirror span.cm-builtin {
	color: #66d9ef;
}
.CodeMirror span.cm-string,
.CodeMirror span.cm-string-2 {
	color: #EB0;
}
.CodeMirror span.cm-variable,
.CodeMirror span.cm-variable-3 {
	color: #4BF;
}
.CodeMirror span.cm-def,
.CodeMirror span.cm-variable-2 {
	color: #C9F;
}
.CodeMirror span.cm-bracket {
	color: #f8f8f2;
}
.CodeMirror span.cm-tag {
	color: #f92672;
}
.CodeMirror span.cm-header {
	color: #ae81ff;
}
.CodeMirror span.cm-link {
	color: #ae81ff;
}
.CodeMirror span.cm-error {
	background: #F23;
	color: #DDD;
}
.CodeMirror-activeline-background {
	background: #373831;
}
.CodeMirror-matchingbracket {
	text-decoration: underline;
	color: var(--fg) !important;
}
