:root {
    --fg: #DDD;
    --fg-alt: #888;
    --bg: #2C2B2AFA;
    --bg-alt: #232221;
    --bg-code: #181818;
    --bg-action: #181818;
    --bg-action-alt: #303030;
    --border: 1px solid var(--bg-alt);
    --page-nav-size: 3.5rem;
    --top: calc(var(--page-nav-size));
    --action-size: 2.5em;
    --contents-size: 360px;
    --font: Ubuntu, sans-serif;
    --font-mono: monospace;
}
@media (max-resolution: 98dpi) {
    *::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background: var(--bg-alt);
    }
    *::-webkit-scrollbar-thumb {
        background: var(--bg-action-alt);
    }
}
@keyframes spin {
    100% { transform: rotateZ(360deg); }
}
* {
    outline: none;
    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
}
*, ::before, ::after {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
::selection {
    color: #000;
    background-color: #0B3;
}
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    color: var(--fg);
    background-color: var(--bg);
    font-family: var(--font);
}
page-nav {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100vw;
    height: var(--page-nav-size);
    background-color: var(--bg-alt);
}
footer {
    position: sticky;
    bottom: 0;
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    height: var(--top);
    background-color: var(--bg-alt);
}
footer #about {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
}
main {
    display: flex;
    margin-top: var(--top);
    min-height: calc(100vh - var(--top) * 2);
}
section {
    line-height: 1.75;
}
section article > :not(h2) {
    max-width: 88ch;
}
h1, h2, h3, h4 {
    position: relative;
    font-weight: initial;
}
#sections h2, a {
    color: #EEE;
    text-decoration: none;
}
code a {
    color: #8CF;
}
a.ref {
    font-weight: 500;
    border-bottom: 1px dotted;
}
code, .code, .CodeMirror,
h2[id^='API/'],
a[href^='#API/']:not(.ref):not(.permalink) {
    font-family: var(--font-mono);
}
code, .code, .CodeMirror,
a[href^='#API/']:not(.ref):not(.permalink) {
    font-size: 14px;
}
.CodeMirror,
.CodeMirror-gutters {
	background: var(--bg-code);
}
h2[id^='API/'] > code:last-child {
    font-size: inherit;
}
code, .directive {
    padding: .25em .5em;
    border-radius: .25em;
}
code {
    background-color: var(--bg-alt);
}
code, dd p {
    line-height: initial;
}
#contents a {
    color: var(--fg);
}
.karyon > a,
#contents h3,
#contents h3 a {
    color: #0C4;
}
#sections h2[id^='API/'] {
    margin-top: 3em;
}
#contents h3::after {
    content: '';
    display: flex;
    margin: 0 1em;
    border-top: 1px solid #0A2;
}
#workbench #contents h3 {
    margin-bottom: 0.5em;
}
#workbench #contents h3::after {
    margin: 0.5em 0 0 0;
}
.karyon {
    display: inline-flex;
    padding-left: 1.75em;
    background-image: url(/img/logo-icon.svg);
    background-size: 1.125em;
    background-position: .375em;
}
.karyon a {
    font-family: var(--font);
    font-weight: initial;
    border-bottom: none;
}
#intro {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin: 0 0 max(2em, 10vmin) 0;
}
#logo {
    display: flex;
    margin: max(2em, 10vmin) 0;
    min-width: min(24em, 80vw);
    aspect-ratio: 1800/480;
    background-image: url(/img/logo.svg);
}
#feat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1em;
}
.feat {
    width: min(22em, 80vw);
    margin: 0.25em;
    background-color: #2489;
    line-height: 1.5;
}
.feat .name {
    display: flex;
    padding: 0.5em 0.75em;
    color: #F90;
    border-bottom-width: 0;
    font-size: 1.25em;
    background-color: var(--bg-alt);
}
.feat .name::before {
    content: '';
    width: 1.25em;
    aspect-ratio: 1;
    margin-right: .5em;
}
.feat:nth-child(1) .name::before {
    background-image: url(/img/hexagon.svg);
}
.feat:nth-child(2) .name::before {
    background-image: url(/img/zap.svg);
}
.feat:nth-child(3) .name::before {
    background-image: url(/img/object.svg);
}
.feat .text {
    margin: 1em;
}
.menu {
    display: flex;
    min-height: var(--action-size);
    justify-content: space-between;
    user-select: none;
    border-bottom: var(--border);
    background-color: var(--bg);
}
.action {
    position: relative;
    width: var(--action-size);
    white-space: nowrap;
    cursor: pointer;
}
.action, .action::after {
    display: flex;
    align-items: center;
    justify-content: center;
}
.action:hover,
.action:focus,
.action:active {
    background-color: var(--bg-action-alt);
}
.action::before {
    content: '';
    width: 1.25em;
    aspect-ratio: 1;
}
.action::after {
    flex: 1;
    padding: .25em 1em;
}
.action.close::before {
    background-image: url(/img/x.svg);
}
.sample {
    display: flex;
    align-items: center;
    min-height: calc(1.5em * var(--lines, 1) + 1em);
}
.directive {
    font-family: monospace;
    text-decoration: none;
    margin: 0 .125em;
    padding: .125em .5em;
    font-size: 14px;
    color: #000;
    background-color: #999;
}
.context {
    color: #FFF;
    margin: 0 0.125em;
}
#contents {
    position: sticky;
    top: var(--top);
    width: var(--contents-size);
    height: calc(100vh - var(--top));
    margin-left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-alt);
    border-right: var(--border);
    transition: margin-left .1s, visibility .1s;
}
@media (max-width: calc(360px * 4)) {
    #contents {
        position: fixed;
        z-index: 10;
    }
}
@media (max-width: calc(360px * 1.5)) {
    #contents {
        width: 100%;
    }
}
#contents:not([data-active]) {
    margin-left: calc(-1 * var(--contents-size) - 1px);
    visibility: hidden;
}
#contents > ul {
    height: 100%;
    margin: 0;
    padding-bottom: 1.5em;
    overflow-y: scroll;
}
ul.pre {
    list-style: none;
    padding: 0;
}
#contents ul {
    list-style: none;
    padding-left: 0;
}
#contents a {
    position: relative;
    display: flex;
    align-items: center;
    padding: .5em 3em;
    margin-bottom: 1px;
    scroll-margin-top: .5em;
}
#contents a[href^='#basics/hello-world'] {
    scroll-margin-top: 10em;
}
#contents a[href^='#API/'] {
    padding: 0.5em 3.25em;
}
#contents a:hover,
#contents a:focus,
#contents a:active,
#contents a[data-active] {
    color: #FFF;
    background-color: var(--bg-action-alt);
}
#contents h3:hover::after,
#contents h3:focus::after,
#contents h3:active::after {
    margin: 0;
}
#contents li.imports > a {
    font-weight: bold;
}
#contents a[href^='#API-/'],
#sections a[href^='#API/'] {
    color: #ABC;
}
#handbook .CodeMirror {
    flex: 1;
    padding: .5em;
    border-radius: .25em;
}
#handbook .CodeMirror-cursors {
    display: none;
}
#workbench .CodeMirror-gutters::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    left: calc(80ch + 4px + 100%);
}
#workbench .CodeMirror-gutters,
#workbench .CodeMirror-gutters::after {
    border-right: 1px dotted var(--bg-action-alt);
}
#about #contents h3 a,
#handbook #contents h3 a,
#workbench #contents h3 {
    padding: .5em 1em;
}
#sections {
    flex: 1;
    margin: 0 max(4vw, 2em);
}
#sections h1 {
    font-size: 2em;
    padding: .5em 0;
    color: #0B3;
    border-bottom: 2px solid #0A2;
    scroll-margin-top: calc(var(--top));
}
#sections h2 {
    margin-top: 2em;
    padding-bottom: .5em;
    border-bottom: var(--border);
    border-color: var(--fg-alt);
    scroll-margin-top: calc(var(--top) + 1.5rem);
}
#sections h2 .permalink {
    bottom: .5em;
}
section:not(:first-child) {
    margin-top: 3em;
}
section:last-child {
    margin-bottom: 3em;
}
section:first-child h1 {
    margin-top: .5em;
}
section article > h3 {
    color: #AAA;
}
section > p {
    margin: .25em 0;
}
section li > p {
    margin: .25em 0 .25em 1em;
}
.permalink {
    position: absolute;
    width: 1em;
    height: 1.5em;
    left: -1em;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 1.5rem;
}
.permalink::before {
    color: var(--fg-alt);
    font-family: var(--font);
}
.permalink:hover::before,
.permalink:focus::before,
.permalink:active::before {
    content: '#';
    height: inherit;
    display: flex;
    align-items: center;
}
#sections [data-kind]::before {
    content: attr(data-kind);
}
#sections h2 > [data-kind] {
    margin-right: 1em;
}
#sections [data-kind] {
    font-size: 14px;
    color: #FFF;
    background-color: #60A;
}
#contents [data-kind]::after {
    background-color: #C4F;
}
#sections [data-kind='function'] {
    background-color: #A23;
}
#contents [data-kind='function']::after {
    background-color: #F23;
}
#sections [data-kind='method'] {
    background-color: #B06;
}
#contents [data-kind='method']::after {
    background-color: #F48;
}
#sections [data-kind='typedef'] {
    background-color: #05A;
}
#contents [data-kind='typedef']::after {
    background-color: #48F;
}
#sections [data-kind='callback'] {
    background-color: #069;
}
#contents [data-kind='callback']::after {
    background-color: #6DF;
}
h2[id^='API/'] {
    display: flex;
    align-items: center;
}
dt {
    display: flex;
    align-items: center;
    margin: 1em 0 .25em 0;
}
dt code {
    margin-right: 2px;
}
dd {
    margin: .25em 0 .5em 1.5em;
}
code.typedef {
    background-color: var(--bg-action);
    white-space: pre-line;
}
code.typedef.name {
    color: #FFF;
}
code.typedef.sh {
    white-space: nowrap;
    padding: .5em 1em;
}
code.typedef.sh::before {
    content: '>';
    margin-right: 0.5em;
    color: #ABC;
}
code .pipe {
    margin: 0 .25em;
}
.key,
.value,
code.default {
    white-space: nowrap;
}
.key {
    color: #F8B;
}
.value {
    color: #FA0;
}
@media (max-width: 98ch) {
    #sections {
        margin: 2ch;
    }
    #sections article {
        width: calc(100vw - 4ch);
    }
    #sections h2[id^='API/'] > code:last-child,
    #sections code.typedef:not(.name),
    code.default {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #sections img {
        width: inherit;
    }
}
#workbench {
    height: calc(100vh - var(--top));
}
.ide {
    --ruler-size: 1px;
    --ruler-grip-size: 6px;
    position: relative;
    display: flex;
    flex: 1;
    min-height: 0;
    overflow: hidden;
}
@media (min-resolution: 196dpi) {
    .ide {
        --ruler-grip-size: 12px;
    }
}
.ide .editor-view,
.ide .simulator-view {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.ide .editor-view {
    width: calc(var(--ruler-x) * 1%);
}
.ide .simulator-view {
    width: calc(100% - var(--ruler-x) * 1%);
    border-left: var(--border);
}
.ide .editor,
.ide .simulator {
    flex: 1;
    user-select: none;
}
.ide .editor {
    overflow: auto;
}
.ide .simulator {
    min-height: 0;
    border: none;
}
.ide .ruler {
    position: relative;
    opacity: 0;
    z-index: 8;
    touch-action: none;
    user-select: none;
    transition: opacity .1s .3s;
}
.ide .ruler:hover,
.ide .ruler:active,
.ide .ruler[data-snap] {
    opacity: 1;
}
.ide .ruler::before,
.ide .ruler::after {
    content: '';
    position: absolute;
}
.ide .ruler::before {
    --ruler-size: var(--ruler-grip-size);
}
.ide .ruler::after {
    background: #59F;
}
.ide .ruler.x {
    width: 0;
    height: 100%;
    cursor: col-resize;
}
.ide .ruler.x::before,
.ide .ruler.x::after {
    width: var(--ruler-size);
    height: inherit;
    left: calc(var(--ruler-size) * -1 * var(--ruler-x) / 100);
}
.ide .ruler.y {
    width: 100%;
    height: 0;
    cursor: row-resize;
    display: none;
}
.ide .ruler.y::before,
.ide .ruler.y::after {
    width: inherit;
    height: var(--ruler-size);
    top: calc(var(--ruler-size) * -1 * var(--ruler-y) / 100);
}
.ide .files {
    overflow: hidden;
}
.ide .files,
.ide .actions {
    display: flex;
}
.ide .file > .close:hover,
.ide .file > .close:focus,
.ide .file > .close:active {
    opacity: 1;
}
.ide .file {
    width: initial;
    padding: 0 .5em;
}
.ide .file::before {
    position: absolute;
    width: 1em;
    top: .125em;
    left: .125em;
}
.ide .file::after {
    content: attr(data-name);
    color: #BBB;
    border: var(--border);
    border-color: var(--bg-action);
    background-color: var(--bg-alt);
}
.ide .file[data-active]::after {
    color: #FFF;
    background-color: #248;
}
.ide .file[data-ext='js']::before {
    background-image: url(/img/js.svg);
}
.ide .file[data-ext='css']::before {
    background-image: url(/img/css.svg);
}
.ide .action.start::before {
    background-image: url(/img/play.svg);
}
.ide .action.reset::before {
    background-image: url(/img/reset.svg);
}
.ide .action.reload::before {
    background-image: url(/img/reload.svg);
}
.ide .action.console::before {
    background-image: url(/img/split.svg);
}
.ide .action.console[data-error]::before {
    background-image: url(/img/alert.svg);
}
.ide .action.spawn::before {
    background-image: url(/img/spawn.svg);
}
.ide .action.clear::before {
    background-image: url(/img/trash.svg);
}
.ide .action.time::before {
    background-image: url(/img/clock.svg);
}
.ide .action[data-on]::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    padding: 0;
    bottom: 0;
    background-color: #48F;
}
.ide .menu > .title {
    display: flex;
    align-items: center;
    margin: 0 1em;
    font-weight: 500;
    font-size: 16px;
    font-family: monospace;
    text-transform: capitalize;
    color: #BBB;
}
.logger {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 50%;
    border-top: var(--border);
}
.logger .output {
    flex: 1;
    background-color: var(--bg-alt);
    overflow: auto;
    white-space: pre-wrap;
}
.logger .log {
    padding: .5em 1em;
    font-family: var(--font-mono);
    font-size: 14px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--bg-action-alt);
    word-wrap: break-word;
}
.logger .log:not(:first-child) {
    margin-top: -1px;
}
.logger .log::before {
    content: '\200B';
}
.logger[data-timing] .log::before {
    content: attr(title);
    margin: 0 1em 0 0;
    color: var(--fg-alt);
}
.log[data-level='info'] {
    color: #8CF;
    border-color: #48F6 !important;
    background-color: #2481;
}
.log[data-level='warn'] {
    color: #F90;
    border-color: #F906 !important;
    background-color: #F901;
}
.log[data-level='error'] {
    color: #F78;
    border-color: #F236 !important;
    background-color: #300;
}
.logger .log:focus {
    background-color: #2484;
    border-color: #48F9;
}
@media (max-width: 100vh) {
    .ide {
        flex-direction: column;
    }
    .ide .editor-view,
    .ide .simulator-view {
        width: initial;
    }
    .ide .editor-view {
        height: calc(var(--ruler-y) * 1%);
    }
    .ide .simulator-view {
        height: calc(100% - var(--ruler-y) * 1%);
        border-left: none;
    }
    .ide .ruler.x {
        display: none;
    }
    .ide .ruler.y {
        display: initial;
    }
}
