.clock {
    display: flex;
    width: 96vmin;
    position: fixed;
    top: 2vh;
    left: 2vw;
}
.clock .tick.h {
    fill: #CCC;
}
.clock .tick.m {
    stroke: #DDD;
    stroke-width: 1;
}
.clock .hand.h, .clock .hand.m {
    fill: none;
    stroke: #CCC;
    stroke-width: 4;
}
.clock .hand.s {
    fill: #F22;
    stroke: #F22;
}
.clock .axis {
    fill: #422;
    stroke: #F22;
    stroke-width: 4;
}
.clock .face {
    fill: #024;
    stroke: #111;
    stroke-width: 2;
}
.clock .hand:not([style*='rotate(0deg)']) {
    transition: transform .06s linear;
}
